	body{
		font-family: Cursive;
		background-image: url("nerve.jpg");
		background-repeat: no-repeat;
		background-size: auto;
		color: white;
		font-size: 20pt;
	}
	h1{
		color: red;
		font-size: 30pt;
		line-height: 40pt;
	.brain{
		text-align: center;
		font-size: 60pt;
		line-height: 80pt;
	}
	img{
		border-color : black; 
		border-width : large;
		border-style : solid;
		padding : 5% ;
		margin : 10% ;
	}
	